<?php

return [
    'paths' => [
        'analyse' => [
            '%projectDir%/app',
            '%projectDir%/src',
        ],
        'excludeDirectories' => [
            '%projectDir%/vendor',
            '%projectDir%/node_modules',
            '%projectDir%/storage',
            '%projectDir%/tests',
        ],
        'fileExtensions' => [
            'php',
        ],
    ],

    'level' => 8,

    'rules' => [
        // @phpstan-ignore-next-line
    ],

    'parameters' => [
        'ignoreErrors' => [],
    ],
];
